#ww_7b8e28d17084a{
    width: 150px!important;
    filter: brightness(93%) contrast(150%) saturate(183%) drop-shadow(rgba(0, 0, 0, 0.5) 0px 0px 8px);
}
.ww_source{
    display: none!important;
}
.ww-box{
    border-radius: 27%!important;
}
.ww_col1, #ww_7b8e28d17084a{
    background-color: transparent!important;
}