@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*:root{
    --margin-topBot: 6vh;
}
body {
    margin: 0;
}

.appbar {
    z-index: 20;
    position:fixed;
    width: 100%;
    height: 45px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #101D33;
    padding-top: 3vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid #4545455d;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    color: #333232;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
}

.appbar .title {
    margin-right: 10vh;
    color: #101D33;
}

.appbar .icon {
    margin-left: 10vh;
}

.appbar .icon i {
    font-size: 1.5em;
    background-color: #5194ff2f;
    padding: 10px 12px;
    border-radius: 100%;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 3vh;
    padding: 11vh 0;
    margin-bottom: 100px;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    margin-top: var(--margin-topBot);
}
.ajoutVetement form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_section {
    padding: 2vh 0;
    width: 100%;
}
.title_section.link {
    padding-top: 3vh;
    padding-bottom: 2vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.title_section.link a{
    color: #284A80;
    opacity: 0.5;
}

.title_section h1 {
    font-size: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: 29px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main .outfitday {
    position: relative;
    margin-top: 20px;
    width: 344px;
    height: 325px;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.outfitday img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.outfitday .title_outfit,
.outfitday .outfit_list {
    position: absolute;
    z-index: 2;
}

.outfitday .title_outfit {
    bottom: 8vh;
    width: 100%;
    text-align: center;
}

.title_outfit h2 {
    color: aliceblue;
    font-size: 20px;
}

.outfitday .outfit_list {
    bottom: 2vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.outfit_list .outfit_section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px;
    background: rgba(81, 147, 255, 0.2);
    border: 0.5px solid #5193FF;
    box-sizing: border-box;
    backdrop-filter: blur(3px);
    border-radius: 5px;
}

.outfit_section p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    /* Neutral/100 */
    color: #FFFBF8;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

#meteo {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6vh 0;
}

#meteo .title_section {
    width: 60%;
    height: auto;
}

#meteo .title_section p {
    color: #5193FF;
}

.logo_meteo {
    width: 150px;
    height: 150px;
}

.logo_meteo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 35px;
}
#TenuProgrammer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 var(--margin-topBot);
}

#TenuProgrammer .tenu_enregistrer {
    position: relative;
    width: 344px;
    height: 210px;
    overflow: hidden;
    border-radius: 15px;
    margin: 15px 0;
}

.tenu_enregistrer img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tenu_enregistrer img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(245.27deg, rgb(8, 15, 26) -7.8%, #080f1a 126.78%);
}

.tenu_enregistrer .date_heure {
    position: absolute;
    z-index: 2;
    top: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 28px;
    /* or 280% */
    display: flex;
    align-items: center;
    margin-top: 10px
}

.tenu_enregistrer .date_heure h2,
.tenu_enregistrer .date_heure p {
    color: #FFFBF8;
    height: 16px
}

.tenu_enregistrer .date {
    margin-right: 20px;
    margin-left: 30px;
}

.tenu_enregistrer .title_tenu {
    position: absolute;
    z-index: 2;
    bottom: 2vh;
    width: 100%;
    margin-left: 30px;
    text-align: center;
}

.title_tenu h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    /* Neutral/100 */
    color: #FFFBF8;
}

.title_tenu p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Neutral/100 */
    color: #FFFBF8;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 20;
    right: 50%;
}

.container_menu {
    width: 100%;
    height: 94px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 34px -11px;
    
}

.container_menu .menu {
    display: flex;
    align-items: baseline;
    margin: 0 10px;
    width: 156px;
    height: 36px;
}

.container_menu .menu .icon {
    width: 78px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.container_menu .menu .icon img {
    margin: 0;
}

a {
    text-decoration: none;
}

.container_menu .menu .icon p {
    margin-top: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #182C4D;
}

.container_menu i {
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5193FF;
    background: #5193FF;
    border-radius: 16px;
    color: white;
}

footer {
    background-color: aliceblue;
}

.UnDressing {
    position: relative;
    width: 344px;
    height: 223px;
    margin: 5px 0;
}

.UnDressing img {
    position: absolute;
    width: 344px;
    height: 223px;
    border-radius: 10px;
    object-fit: cover;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(8, 15, 26, 0) 18.77%, #080F1A 116.92%);
}

.UnDressing .title_dressing {
    z-index: 2;
    position: absolute;
    bottom: 27px;
    left: 34px;
}

.title_dressing h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFBF8;
    margin: 0;
    padding: 0 10px;
    background: linear-gradient(270deg, rgba(81, 147, 255, 0.8) -43.9%, rgba(81, 147, 255, 0) 100%);
}

#menu_outfitfav {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#menu_outfitfav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#menu_outfitfav li {
    float: left;
    margin: auto;
    padding: 0;
    background-color: black;
}

#menu_outfitfav li a {
    display: block;
    width: 100px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

#menu_outfitfav li a:hover {
    color: #FFD700;
}

.topnav {
    position: relative;
    align-items: center;
}

.topnav input {
    margin: 40px 0;
    width: 300px;
    height: 47px;
    background: rgba(81, 148, 255, 0.253);
    opacity: 0.3;
    border-radius: 10px;
    padding: 0 20px;
    border: NONE;
    outline: none;
}

.topnav input::-webkit-input-placeholder {
    /* Edge */
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.unVetement {
    height: 344px;
    width: 293px;
    border-radius: 0px;
    position: relative;
    padding: 14PX 21PX;
}

.unVetement .imgUnVetement {
    position: relative;
    width: 244px;
    height: 229px;
}

;
.unVetement .imgUnVetement #imga {
    position: absolute;
    width: 244px;
    height: 229px;
    object-fit: cover;
}

input.inputAdd {
    background: #5193FF;
    border-radius: 10px;
    padding: 16px 140px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.OneVetement {
    position: relative;
    width: 271px;
    height: 272px;
}

.OneVetement .containerOneVetement {
    position: absolute;
    width: 271px;
    height: 271px;
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.OneVetement img#bg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.OneVetement img#fav {
    position: absolute;
    z-index: 2;
    right: 21px;
    top: 21px;
    background-image: url('/assets/img/icons/favoriteUnchecked.png');
}


.OneVetement .detail {
    position: absolute;
    bottom: -66px;
    width: 100%;
    height: 73px;
}

.OneVetement .detail .title {
    width: 223px;
    height: 22px;
    margin-top: 12px;
}

.OneVetement .detail .title h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    color: #182C4D;
    margin: 0;
}

.OneVetement .categorieVetement {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 39px;
}

.OneVetement .subCategorieOneOutfit {
    width: 2em;
    height: 40px;
    bottom: 0;
}

.OneVetement .subCategorieOneOutfit p {
    color: black;
    position: absolute;
    background: rgba(81, 147, 255, 0.2);
    border: 0.5px solid #5193FF;
    box-sizing: border-box;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    padding: 5px 10px;
}

.containerVetement {
    position: absolute;
    width: 344px;
    height: 223px;
    border-radius: 15px;
    border: 2px solid #5193FF;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerVetement img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerVetement h1 {
    position: absolute;
    z-index: 2;
    color: #FFFBF8;
}
form .fileadd{
    margin-top: 80px;
    margin-bottom: 40px;
        /* cursor: pointer; */
        width: 60vw;
        height: 60vw;
        background-image:url(../img/contenu/Image.png);
        background-size: cover;
        background-position: center;
        border: 2px solid #5193FF;
        box-sizing: border-box;
        border-radius: 15px;

    }
    .fileadd .label-file{
        /* position: absolute; */
        cursor: pointer;
        width: 60vw;
        height: 60vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
}
.fileadd .label-file p{
    width: 213px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */



color: #FFFBF8;

} 
.fileadd .label-file:hover{
    color: #25a5c4;
}

form #imgadd{
    display: none;
}
.containerInputAddVetement {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 390px;
    height: 63px;
    border-bottom: 1px solid rgba(81, 147, 255, 0.1);
    ;
}

a .containerInputAddVetement {
    display: inline-flex;
    align-items: center;
    margin: 0 25px;
    text-decoration: none;
    color: #182C4D;
    
}
.containerInputAddVetement a{
    display: flex;

}
.containerInputAddVetement p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    width: 100px;
}

.containerInputAddVetement img {
    position: absolute;
    right: 25px;
    width: 7px;
    height: 11.76px;
    color: #182C4D;
    border-radius: 1px;
    transform: rotate(0deg);
}

.containerInputImgAddVetement {
    position: relative;
    width: 344px;
    height: 325px;
    border-radius: 15px;
    border: 2px solid #5193FF;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerInputImgAddVetement img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerInputImgAddVetement h1 {
    position: absolute;
    z-index: 2;
    color: #FFFBF8;
    padding: 10px 30px;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    background: rgba(0, 97, 255, 0.03);
    font-size: 16px;
}

.containerInputImgAddVetement p {
    position: absolute;
    z-index: 2;
    color: #FFFBF8;
    font-family: 'Montserrat';
    bottom: 10px;
}

.OneItemCategorieVetement {
    position: relative;
    width: 390px;
    height: 63px;
    border-bottom: 1px solid rgba(81, 147, 255, 0.1);
    display: inline-flex;
    align-items: center;
}

.OneItemCategorieVetement p {
    position: absolute;
    left: 25px;
}

.OneItemCategorieVetement .round {
    position: relative;
}

.OneItemCategorieVetement .coutainerchekbox {
    position: absolute;
    right: 25px;
}

.OneItemCategorieVetement .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    width: 15px;
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
}

.OneItemCategorieVetement .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 7px;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 1px;
    transform: rotate(312deg);
    width: 12px;
}

.OneItemCategorieVetement .round input[type="checkbox"] {
    visibility: hidden;
}

.OneItemCategorieVetement .round input[type="checkbox"]:checked+label {
    background-color: #4f4f4f;
    border-color: #4f4f4f;
}

.OneItemCategorieVetement .round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.containerOneOutfit {
    position: relative;
    width: 271px;
    height: 272px;
    overflow: hidden;
}

.containerOneOutfit .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(245.27deg, rgba(8, 15, 26, 0) -7.8%, #080F1A 126.78%);
    border-radius: 15px;
}

.containerOneOutfit img#bg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.containerOneOutfit img#fav {
    position: absolute;
    z-index: 2;
    right: 21px;
    top: 21px;
}

.containerOneOutfit p#title {
    width: 181px;
    height: 44px;
    position: absolute;
    color: white;
    bottom: 60px;
    left: 25px;
    margin-bottom: 15px;
}

.containerOneOutfit .subCategorieOneOutfit {
    position: absolute;
    width: 82px;
    height: 22px;
    bottom: 50px;
    left: 25px;
}

.containerOneOutfit .subCategorieOneOutfit p {
    color: aliceblue;
    position: absolute;
    top: 0;
    background: rgba(81, 147, 255, 0.2);
    border: 0.5px solid #5193FF;
    box-sizing: border-box;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    padding: 5px 10px;
}

.space {
    position: relative;
    width: 100%;
    height: 36px;
}

.data_profil .info p{
    width: 150px;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}